.item {
    margin: 0 auto;
    width: 90%;

    display: flex;
    // justify-content: center;
 
    padding: 0 5px;
    gap: 12px;
    align-items: center;
    border-radius: 12px;
    border: 1px #363636 solid;
    margin-top: 12px;
    &:hover {
        cursor: grab;
    }

    &_start {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 98%;
    }

    &_end {
        display: flex;
        gap: 15px;
        align-items: center;
        margin-left: auto; 
    }

    &_name {
        text-align: left;
        width: 90%;
        height: 16px;
        line-height: 16px;
        overflow: hidden;
    }
}

.item-active {
    border: 1px #fff solid;
}



.fa-trash {
    // width: 50px;
    // height: 50px;
    // border-radius: 15px;
    // position: absolute;
    // left: 50%;
    // bottom: 0;
    // z-index: 1000;
    transition: all .4s ease-in-out;
    &:hover {
        scale: 1.4;
        color: red;
        cursor: pointer;
    }
}

.fa-pen-to-square {
    transition: all .4s ease-in-out;
    &:hover {
        cursor: pointer;
        scale: 1.4;
        color: rgb(16, 211, 255);
    }
}