.item {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
}



.fa-trash {
    // width: 50px;
    // height: 50px;
    // border-radius: 15px;
    // position: absolute;
    // left: 50%;
    // bottom: 0;
    // z-index: 1000;
    transition: all .4s ease-in-out;
    &:hover {
        scale: 1.4;
        color: red;
    }
}

.fa-pen-to-square {
    transition: all .4s ease-in-out;
    &:hover {
        scale: 1.4;
        color: rgb(16, 211, 255);
    }
}