.main {
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    &__bottom {
        width: 100%;   
        position: relative;
    }

}

